<!DOCTYPE html>
<html lang="en">
<head><meta charset="UTF-8"><title>뉴스</title></head>
<body>
<form method="POST">
    <label>제목: <input name="title" placeholder="제목"/></label>
    <label>주소: <input name="url" placeholder="주소" /></label>
    <button type="submit">추가</button>
</form>
<ul>
    <li th:each="news, newsState : ${newsList}">
        <button class="btn_delete" th:data-idx="${newsState.index}">삭제</button>
        <button class="btn_modify" th:data-id="${newsState.index}">수정</button>
        <a th:text="${news.title}" th:href = "${news.address}"></a>
    </li>
</ul>
<script>
    document.querySelectorAll('.btn_delete').forEach((e) => {
        e.addEventListener('click', function (event) {
            let idx = event.target.getAttribute("data-idx");

            if (confirm("정말 삭제하시겠습니까?")) {
                fetch(`/news/${idx}`, { method: "DELETE" }).then(function (response) {
                    if (response.ok) {
                        response.json().then((result) => {
                            if (result) {
                                alert("삭제되었습니다.");
                                return location.reload();
                            }
                            alert('항목이 존재하지 않습니다.');
                        })
                    }
                    else {
                        alert("삭제에 실패했습니다.");
                    }
                });
            }
        })
    })

    document.querySelectorAll('.btn_modify').forEach((ev) =>{
        ev.addEventListener('click',function (event) {
            let id = event.target.getAttribute("data-id")

            fetch(`/news/${id}`, {
                method: "PUT",
                body: JSON.stringify({
                    title: prompt("제목을 입력하세요."),
                    address: prompt("주소를 입력하세요.")
                }),
                headers: {
                    'Content-Type': 'application/json',
                },
            }).then(function (response) {
                if (response.ok) {
                    response.json().then((result) => {
                        if (result) {
                            alert("수정되었습니다.");
                            location.reload();
                            return;
                        }
                        alert('항목이 존재하지 않습니다.');
                    })
                } else {
                    alert("수정에 실패했습니다.");
                }
            });
        })
    })
</script>
</body>
</html>