<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원 세션 DB 예제</title>
</head>
<body>
<h1>회원 세션 DB 예제</h1>
<div th:if="${user} == null">
    <a href="/user/login">
        <button>로그인</button>
    </a>
    <a href="/user/register">
        <button>회원가입</button>
    </a>
    <a href="/user/cookie">
        <button>쿠키 설정</button>
    </a>
</div>
<div th:unless="${user} == null">
    <span th:text="${user.name}"></span>님 환영합니다. <a href="/user/cookie">
    <button>쿠키 설정</button>
</a>
    <br>
    계정 아이디: <span th:text="${user.username}"></span>
</div>
<hr/>
<div th:if="${user} == null">
    로그인이 필요합니다
    <hr/>
</div>
<div><b>cookie_name</b> 쿠키 값:
    <mark th:text="${cookie}"></mark>
</div>
<div>
    전체 쿠키:
    <ul>
        <li th:each="cookie : ${cookie_list}" th:text="|${cookie.first}: ${cookie.second}|">
        </li>
    </ul>
</div>
</body>
</html>